streamlit
python==3.10
pillow
numpy
opencv-python-headless==4.5.5.64
torch
torchvision
scikit-learn
matplotlib
seaborn
torchsummary
pandas
joblib
streamlit_option_menu
hydralit_components
streamlit_image_comparison
libGL.so.1
