git add .
git commit -m "Reboot Streamlit app"
git push origin main

streamlit
pillow
numpy
opencv-python-headless
torch
torchvision
scikit-learn
matplotlib
seaborn
torchsummary
pandas
joblib
streamlit_option_menu
hydralit_components
streamlit_image_comparison
