streamlit
pillow
numpy
opencv-python-headless==4.7.0.72

torch
torchvision
scikit-learn
matplotlib
seaborn
torchsummary
pandas
joblib
streamlit_option_menu
hydralit_components
streamlit_image_comparison
